/* Global */
*{
    padding: 0; 
    margin: 0;
}

body{
    width: 100%; 
    height: 100vh; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

input, button, a {
    margin-bottom: 0.5em;
}

/* Home */
#home{
    width: 400px; 
    margin: auto;
}

/* Login and registration */
#login-form, #register-form {
    padding: 1em;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 5px;
}

